.icon{
  color: #00BCD4;
}

.p-button{
  color: black;
}

button{
    cursor: pointer;
}

.boton_form{
  background-color: #00BCD4;
  border: none;
  border-radius: 4px;
  padding: 10px 16px;
  color: #fff;
  border-radius: 4px;

}

input, textarea{
  border-color: #f5f7fa;
}

.titulo{
  width: 100%;
  margin-bottom: 2%;
}

.datos{
  display: flex;                      /* Distribuye los paneles lado a lado */
}

.botones{
    margin: 1%;
    width: 30%;                         /* 40% del contenedor total */
}

.boton{
  background-color: #f5f7fa;
  width: 100%;
  height: 120px;
  margin-bottom: 10px;
  border: 0;
}

.formulario{
    margin: 1%;
    background: white;
    width: 70%;   
}

.container {
  max-width: 600px;
  margin: 40px auto;
  font-family: Arial, Helvetica, sans-serif;
}

label {
  display: block;
  margin-bottom: 15px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.success {
  color: green;
  margin-top: 12px;
}

.error {
  color: crimson;
  margin-top: 12px;
}

