.project-card {
  aspect-ratio: 1 / 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.375rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.05);
}

.proyectos{
  width: 100%;
  height: 100%;
  display: flex;
}

.proyecto{
  background-color: aqua;
  margin: 10px;
  width: 30%;
  height: 120px;
}